.main {
  margin-top: 5%;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  border-radius: 10px;
}

.textItalic {
  font-style: italic;
  font-weight: 300;
  color: var(--white);
}

.topNav {
  position: relative;
  border: 1px solid var(--background-black);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 65px;
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: var(--background-black);
  box-shadow: 0 10px 10px -4px rgb(0, 0, 0);
  z-index: 5;
}

.topNav img {
  border-radius: 50%;
  border: 3px solid var(--payd-green);
}

.pagination {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
  transition: all .5s;
  gap: 8px;
}

.active, .pageItem {
  border: 2px solid var(--white);
  background-color: var(--background-black);
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  font-size: 1rem;
  transition: all .5s;
  font-weight: 900;
}

.active {
  border-color: var(--payd-green);
  color: var(--payd-green);
}

.pageItem {
  color: var(--white);
}

.modal_format {
  padding: 15px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  grid-template-areas:
    "modalT modalT"
    "modalD modalD"
    "modalB modalB";
}

.history_format {
  position: relative;
  border: 1px outset var(--white);
  border-radius: 20px;
  background: var(--background-black);
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  animation: .5s fadeIn ease-in;
}

.history_title {
  position: absolute;
  top: -30%;
  left: 1.5%;
  max-width: 200px;
  color: var(--gray-);
  font-style: italic;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history_buttons button {
  margin-left: 15px;
  padding: 8px;
  box-shadow: none;
}

.modalT {
  text-align: center;
  grid-area: modalT;
}

.modalD {
  text-align: center;
  grid-area: modalD;
  padding: 0 15% 0 15%;
}

.modalB {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
  grid-area: modalB;
}

.navDate {
  position: absolute;
  left: 10px;
  width: 150px;
}

.formList {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.formInput {
  opacity: 1;
  transition: all .5s;
}

.optionsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  text-align: center;
  padding: 0 12px 0 12px;
  transition: all 0.5s;
}

.expenseRow {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--white);
  border-radius: 10px;
  background: var(--background-black);
  text-align: center;
  padding: 0 12px 0 12px;
  box-shadow: 0 10px 10px -4px rgb(0, 0, 0);
}

.billList {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.billListFormat {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr .8fr;
  gap: 0px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "billList_title billList_title billList_dueDates"
    "billList_amt billList_amt billList_dueDates"
    "billList_btns billList_btns billList_btns";
}

.billList_title { 
  grid-area: billList_title; 
  background-color: var(--background-black);
  border-top-left-radius: 20px;
  padding: 1rem;
  border: 1px solid var(--white);
  border-width: 1px 1px 0 1px;
}

.billList_btns { 
  grid-area: billList_btns; 
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  animation: .5s slideIn ease-in;
}

.billList_edit {
  grid-area: billList_btns;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  animation: .5s slideIn ease-in;
}

.billList_amt { 
  grid-area: billList_amt; 
  background-color: var(--background-black);
  border-bottom-left-radius: 20px;
  padding-left: 2rem;
  box-shadow: 0 10px 10px -4px rgb(0, 0, 0);
  border: 1px solid var(--white);
  border-width: 0 1px 1px 1px;
}

.billList_dueDates { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-area: billList_dueDates; 
  background-color: var(--background-black);
  box-shadow: 0 10px 10px -4px rgb(0, 0, 0);
  border: 1px solid var(--white);
}

.paydGreen {
  font-size: 3rem;
  font-family: Comforta;
  letter-spacing: -8px;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--payd-gradient);
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.paydGreen::before {
  display: block;
  content: "payd-2";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px solid white;
}

.welcomeTitle {
  font-size: 5rem;
  font-family: Comforta;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--payd-gradient);
  -webkit-text-fill-color: transparent;
  z-index: 2;
  text-align: center;
  filter:
    drop-shadow(2px 2px 0 #00C853) 
    drop-shadow(2px 2px 2px #143f1b) 
    drop-shadow(2px 2px 0 #14150b);
}

.textPop {
  z-index: 2;
  font-style: italic;
  filter:
    drop-shadow(2px 2px 0 #143f1b) 
    drop-shadow(2px 2px 0 #14150b);
}

.gradient_text {
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--payd-gradient);
  -webkit-text-fill-color: transparent;
  font-family: Comforta;
  font-weight: 900;
  z-index: 2;
}

.landingC2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr;
  grid-template-areas:
    "c2_1 c2_2 c2_3";
  gap: 12px;
  z-index: 2;
  text-align: center;
}

.c2_1, .c2_2, .c2_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--clear-black);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 25px;
  padding: 10px;
  width: 30vw;
}

.c2_1 {
  grid-area: c2_1;
}

.c2_2 {
  grid-area: c2_2;
}

.c2_3 {
  grid-area: c2_3;
}

.landingContainer {  
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: .5fr .5fr .5fr;
  grid-auto-flow: row;
  grid-template-areas:
    "land_1 land_1 land_1"
    ". land_2 land_2"
    "land_3 land_3 land_3";
  margin: 5% 2% 5% 2%;
}

.land_1 { 
  display: flex;
  align-items: center;
  grid-area: land_1;
  font-size: 2.8vw;
 }

.land_2 { 
  grid-area: land_2;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.land_3 { 
  grid-area: land_3;
  display: flex;
  flex-direction: row;
  font-size: 3vw;
  justify-content: space-around;
 }


@media only screen and (max-width: 800px) {
  .main {
    margin-top: 25%;
  }
  .formList {
    width: 93vw;
  }
  .billList {
    width: 93vw;
  }
  .billListFormat {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
      "billList_title"
      "billList_amt"
      "billList_dueDates"
      "billList_btns";
  }
  .billList_title, .billList_amt {
    border-radius: 0;
    padding: 0;
  }
  .billList_dueDates, .billList_amt { flex-direction: row; }
  .billList_btns { 
    margin: 10px 0 15px 0;
    justify-content: space-between; 
  }
  .billList_edit {
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--background-black);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 10px 10px -4px rgb(0, 0, 0);
    margin: 5% 0 5% 0;
  }
  .billList_edit input[type="number"] {
    width: 50%;
  }
  .billList_edit input[type="date"] {
    width: 50%;
  }
  .welcomeTitle {
    font-size: 8.4vw;
  }
  .gradient_text {
    font-size: 1.2rem;
  }
  .land_3 {
    flex-direction: column;
    text-align: center;
  }
  .landingContainer {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2%;
    margin-right: 2%;
  }
  .expenseRow {
    padding: 0 5px 0 5px;
  }
  .modalD {
    padding: 0;
  }
  .modalB {
    justify-content: space-between;
  }
  .history_format {
    border: 1px solid var(--white);
    border-radius: 5px;
    background: var(--background-black);
    margin: 8px 0 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
  .history_title {
    position: relative;
    margin: 0;
  }
  .history_buttons {
    width: 35vw;
    display: flex;
    justify-content: space-between;
  }
  .history_buttons button:hover {
    transform: none;
  }
  .pagination {
    color: var(--white);
    transition: all .5s;
    gap: 8px;
    flex-wrap: wrap;
  }
  .active, .pageItem {
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
    font-size: 1rem;
    transition: all .5s;
    font-weight: 900;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}