.main {
  margin-top: 5%;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 1rem;
  border-radius: 10px;
}

.topNav {
  position: relative;
  border: 1px solid var(--background-black);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 65px;
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: var(--background-black);
  box-shadow: 0 10px 10px -4px rgb(0, 0, 0);
}

.topNav img {
  border-radius: 50%;
  border: 3px solid var(--payd-green);
}

.navDate {
  position: absolute;
  left: 10px;
  width: 150px;
}

.formList {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.billList {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.paydGreen {
  font-size: 3rem;
  font-family: Comforta;
  letter-spacing: -8px;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--payd-gradient);
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.paydGreen::before {
  display: block;
  content: "payd-2";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px solid white;
}

.welcomeTitle {
  font-size: 5rem;
  font-family: Comforta;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--payd-gradient);
  -webkit-text-fill-color: transparent;
  z-index: 2;
  filter:
    drop-shadow(2px 2px 0 rgb(0, 255, 38)) 
    drop-shadow(2px 2px 2px rgb(0, 183, 255)) 
    drop-shadow(2px 2px 0 rgb(0, 128, 255));
}

.zIndex2 {
  z-index: 2;
  filter:
  drop-shadow(2px 2px 0 rgb(0, 0, 0));
}

@media only screen and (max-width: 800px) {
  .main {
    margin-top: 25%;
  }
  .formList {
    width: 93vw;
  }
  .billList {
    width: 93vw;
  }
  .welcomeTitle {
    font-size: 2rem;
  }
}